<mat-toolbar color="primary" fxLayoutGap="1rem">
    <mat-icon fontSet="material-icons-round">local_mall</mat-icon>
    <span>Online Store</span>
    <a routerLink="/">Home</a>
    <a *ngxPermissionsOnly="'DEVELOPER'" [href]="getSwaggerUrl()" target="_blank">Swagger UI</a>
    <a *ngxPermissionsExcept="'GUEST'" routerLink="/products">Products</a>
    <a *ngxPermissionsExcept="'GUEST'" routerLink="/orders">My orders</a>
    <span class="fill-space"></span>
    <a *ngxPermissionsExcept="'GUEST'" routerLink="/cart">
        <mat-icon [matBadge]="getCartItemCount().toString()" matBadgeColor="warn" [matBadgeHidden]="!getCartItemCount()">
            shopping_cart
        </mat-icon>
    </a>
    <span *ngxPermissionsExcept="'GUEST'" [innerText]="getUser()"></span>
    <a *ngxPermissionsOnly="'GUEST'" routerLink="/register">Register</a>
    <a *ngxPermissionsOnly="'GUEST'" routerLink="/login">Login</a>
    <a *ngxPermissionsExcept="'GUEST'" (click)="doLogout()">Logout</a>
</mat-toolbar>