<div class="header">
	Add new product
</div>
<div #content class="controls" matDialogContent>
	<form [formGroup]="productForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
		<mat-form-field>
			<mat-label>Product name</mat-label>
			<input formControlName="name" matInput>
			<mat-error *ngIf="productForm.get('name').invalid">This field cannot be empty</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Product description</mat-label>
			<textarea cdkTextareaAutosize formControlName="description" matInput></textarea>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Price</mat-label>
			<input formControlName="price" matInput>
			<mat-error *ngIf="productForm.get('price').hasError('required')">This field cannot be empty</mat-error>
			<mat-error *ngIf="productForm.get('price').hasError('min')">Price must be greater than zero</mat-error>
			<mat-error *ngIf="productForm.get('price').hasError('price')">Price can have a precision of 2 decimal places at most
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Quantity</mat-label>
			<input formControlName="quantity" matInput min="0" type="number">
			<mat-error *ngIf="productForm.get('quantity').hasError('required')">This field cannot be empty</mat-error>
			<mat-error *ngIf="productForm.get('quantity').hasError('min')">Quantity must not be less than zero
			</mat-error>
		</mat-form-field>
		<div *ngIf="getImageFields().length; let arrayLength" formArrayName="images">
			<div *ngFor="let image of getImageFields().controls; let i = index" [fxLayout]="i === arrayLength - 1 ? 'row':'column'" style="position: relative">
				<mat-form-field>
					<mat-label>Path to image {{i + 1}}</mat-label>
					<input #text (focusout)="(text.value.trim() == '' && arrayLength > 1) ? removeImageField(i) : ''" [formControlName]="i" matInput>
					<mat-error *ngIf="getImageFields().at(i).invalid">Not a valid path or URL</mat-error>
				</mat-form-field>
				<button (click)="addImageFieldToForm()" *ngIf="i === arrayLength - 1" class="btn-addImageField" color="primary" mat-icon-button>
					<mat-icon>add_circle</mat-icon>
				</button>
			</div>
		</div>
	</form>
</div>
<div class="footer">
	<button (click)="onSubmit()" color="primary" mat-flat-button>
		<mat-icon matPrefix>add_box</mat-icon>
		Add product
	</button>
	<button color="warn" mat-flat-button matDialogClose>Cancel</button>
</div>