<mat-toolbar color="primary">
	<span>Swagger Example</span>
	<a routerLink="/">Home</a>
	<a *ngxPermissionsOnly="'DEVELOPER'" href="http://localhost:8080/swagger-ui.html" target="_blank">Swagger UI</a>
	<span class="fill-space"></span>
	<span *ngxPermissionsExcept="'GUEST'" [innerText]="getUser()"></span>
	<a *ngxPermissionsOnly="'GUEST'" routerLink="/register">Register</a>
	<a *ngxPermissionsOnly="'GUEST'" routerLink="/login">Login</a>
	<a (click)="doLogout()" *ngxPermissionsExcept="'GUEST'">Logout</a>
</mat-toolbar>